*{
	font-family: 'Josefin Sans', sans-serif;
	margin: 0;
	padding: 0;
}
body{
	margin: 0px;
	padding: 0px;
}
img{
	width: 100%;
	height: auto;
}
a{
	text-decoration: none;
}
p{
	font-size: 20px;
}
nav{
	z-index: 222;
	background-color: transparent;
	box-shadow: none;
}
nav img{
	width: 50px;
	height: 50px;
}
nav ul li a{
	font-size: 20px;
	font-weight: 700;
}
.navbar-fixed{
	position: absolute;
}
.portada{
	z-index: -111;
	background-image: url(../img/estudio.png);
	background-size: cover;
	background-attachment: fixed;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: baseline ;
	flex-direction: column;
}
.portada h1{
	text-align: center;
	display: block;
	margin: 5px;
	padding: 0;
	align-self: center;
	color: white;
}
.portada h3{
	text-align: center;
	display: block;
	margin: 5px;
	padding: 0;
	align-self: center;
	color: white;
}
.typewrite{
	color: white;
}
.contenedor{
	margin: -50px 30px 15px 30px;
	z-index: 1111111;
	background-color: white;
	border-radius: 10px;
}
.contenedor h1{
	font-weight: 700;
	color: white;
	text-align: center;
}
.contenedor .flecha{
	width: 100%;
	margin: 20px auto;
}
.contenedor .flecha div{
	display: flex;
	justify-content: center;
	width: 100%;
	margin: auto;
}
.contenedor .flecha div i{
	color: #E91E63;
	font-size: 70px;
}
.contenedor .aboutme{
	background-color: #EA877E;
	padding: 30px 150px 90px;
	-webkit-clip-path: polygon(0 0, 100% 8%, 100% 92%, 0% 100%);
	clip-path: polygon(0 0, 100% 8%, 100% 92%, 0% 100%);
	color: white;
}
.contenedor .aboutme .marcela-img{
	border: 8px solid white;
	-ms-transform: rotate(-7deg); /* IE 9 */
	-webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
	transform: rotate(-7deg);
	box-shadow: 5px 5px 2px #888888;
	margin: 10px;
	
}
@media screen and (max-width: 600px){
	.contenedor .aboutme .marcela-img{
		width: 70%;
	}
}
.contenedor .aboutme i{
	font-size: 60px;
}
.contenedor .aboutme i.module{
	color: #E91E63;
}
.contenedor .aboutme i.list{
	color: #00BCD4;
}
.contenedor .aboutme i.headlike{
	color: #4CAF50;
}
.contenedor .aboutme p{
	color: white;
	text-align: left;
	margin-left: 10px;
}
.contenedor .aboutme h6{
	font-family: 'PT Serif', serif;
	font-weight: bold;
}
 @media screen and (max-width: 600px){
	.contenedor .aboutme{
	padding: 20px;
	-webkit-clip-path: polygon(0 0, 100% 4%, 100% 96%, 0% 100%);
	clip-path: polygon(0 0, 100% 4%, 100% 96%, 0% 100%);
	}
}
.contenedor .skills{
	z-index: -22;
	background-image: url(../img/Gtrans.png);
	background-size: cover;
	background-attachment: fixed;
	background-color: #F0F0F0;
	margin-top: -80px;
	padding: 60px 30px;
	text-align: center;
}
.contenedor .skills h1{
	color: #314656;
}
.contenedor .skills .skills-small-row{
	margin-bottom: 50px;
}

 @media screen and (max-width: 1000px){
	.contenedor .skills .skills-small-row{
	margin: 0;
}
}
.contenedor .skills .skills-big{
	border: 10px solid #49979A;
	border-radius: 50%;
	width: 240px;
	height: 240px;
	margin: auto;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
 @media screen and (max-width: 1000px){
	.contenedor .skills .skills-big{
	width: 170px;
	height: 170px;
}
}
.contenedor .skills .skills-big i{
	font-size: 130px;
}
 i @media screen and (max-width: 1000px){
	.contenedor .skills .skills-big{
		font-size: 80px;
	}
}	
.contenedor .skills .javascript{
	border-color: #314656;
}
.contenedor .skills .javascript i{
	color: #314656;
}
.contenedor .skills .html5{
	border-color: #49979A;
}
.contenedor .skills .html5 i{
	color: #49979A;
}
.contenedor .skills .css3{
	border-color: #EA877E; 
} 
.contenedor .skills .css3 i{
	color: #EA877E; 
}
.contenedor .skills .skills-small{
	border: 6px solid #ACC1C2;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	margin: auto;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
 @media screen and (max-width: 400px){
 	.contenedor .skills .skills-small{
	width: 100px;
	height: 100px; 
}
}
.contenedor .skills .skills-small i{
	font-size: 60px;
	color: #ACC1C2;
}
 i @media screen and (max-width: 400px){
	.contenedor .skills .skills-small{
	font-size: 40px; 
}
}

.contenedor .portafolio{
	-webkit-clip-path: polygon(35% 0, 100% 5%, 100% 93%, 65% 100%, 0 95%, 0 7%);
	clip-path: polygon(35% 0, 100% 5%, 100% 93%, 65% 100%, 0 95%, 0 7%);
	z-index: 333;
	background-image: url(../img/elvis.png);
    	background-attachment: fixed;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
	margin-top: -70px;
	padding-top: 30px;
	padding-bottom: 80px;
	background-color: #314656;
	text-align: center;
}
.contenedor .portafolio .titulo-port{
	color: #314656;
}
.contenedor .portafolio .pokedex{
	background-image: url(../img/pokedex.png);
}
.contenedor .portafolio .trans-lab{
	background-image: url(../img/trans-lab.png);
}
.contenedor .portafolio .todo{
	background-image: url(../img/todo.png);
}
.contenedor .portafolio .lab-car{
	background-image: url(../img/lab-car.png);
}
.contenedor .portafolio .lyft-flexbox{
	background-image: url(../img/lyft-flexbox.png);
}
.contenedor .portafolio .pinterest{ 
	background-image: url(../img/pinterest.png);
}
.contenedor .portafolio .portf{
	width: 100%;
	height: 35vh;
	border-radius: 10px;
	background-size: cover;
	background-position: center;
	margin-bottom: 20px;
}
.contenedor .portafolio .hove{
	border-radius: 10px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 0;
	-webkit-transition: background-color 1s ease-out;
	-moz-transition: background-color 1s ease-out;
	-o-transition: background-color 1s ease-out;
	transition: background-color 1s ease-out;
}
.contenedor .portafolio .hove:hover{
	opacity: 1;
	background-color: rgba(225, 225, 225, 0.7);
}
.contenedor .portafolio .btn{
	background-color: #EA877E; 
}
 @media screen and (max-width: 600px){
	.contenedor .portafolio{
	margin-top: -90px;
	-webkit-clip-path: polygon(50% 0%, 100% 3%, 100% 97%, 50% 100%, 0 97%, 0 3%);
	clip-path: polygon(50% 0%, 100% 3%, 100% 97%, 50% 100%, 0 97%, 0 3%);
	}
}
.contenedor .contact{
	background-color: #49979A;
	padding-top: 60px;
	margin-top: -60px;
	height: 70vh;
}
.contenedor .contact p{
	font-size: 20px;
	color: white;
}
.contenedor .contact p i{
	font-size: 25px;
}
.contenedor .contact a:hover p{
	color: #EA877E;
}
.contenedor .contact @media screen and (max-width: 600px){
	height: 100vh;
	padding: 20px;
}
.contenedor footer{
	background-color: #323437;
	color: white;
	margin-top: -20px;
	text-align: center;
}
@media screen and (max-width: 600px){
	.aboutme{
		padding: 0;
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0 );
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	}
}



